img {
    max-width: 110px;
}

.navBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 0.3rem 3rem;
    background-color: aqua;
}

.containerImg {
    display: flex;
    flex-direction: row;
}

.containerList {
    display: flex;
    list-style: none;
    gap: 20px;

    & li {
        text-decoration: none;
    }
}