img {
    max-width: 70px;
}

.container{
    display: flex;
    flex-direction: column;
}

.navBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem 0rem 4rem;
    /* background-color: aqua; */
}

.containerImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    & p {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: var(--primary-color);
    }
}

.containerList {
    display: flex;
    list-style: none;
    gap: 20px;

    & li {
        margin-right: 1rem;
    }

    & li a {
        text-decoration: none;
        color:  var(--primary-color);
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
    }
    & li a:hover {
        color:  #323e3a;
        font-weight: 700;
        
    }
    & li a.active {
        color: #246e48;
        font-weight: 700;
        border-bottom: 2px solid #246e48;
    }
}

.line {
    align-self: center;
    width: 91%;
    height: 5px;
    background-color: var(--second-color);
    margin: 0.5px 0;
    border-radius: 5px;
}

/* nav_bar.modules.css */

/* Estilos existentes */

.navBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem 0rem 4rem;
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {
    .navBar_container {
        padding: 0.5rem 3rem 0rem 2rem;
    }
}

@media (max-width: 768px) {
    .navBar_container {
        flex-direction: column;
        padding: 0.5rem 2rem;
    }

    .containerList {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .containerImg p {
        font-size: 20px;
    }

    .containerList li a {
        font-size: 15px;
    }
}